.Notes {
  margin: 0;
  padding: 1rem;
}

.Notes > article {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.NotesList {
  list-style: none;
}
            
.NotesList li {
  padding: .5rem;
}
            